<p id="notice"><%= notice %></p>

<p>
  <b>Bcs key:</b>
  <%= @cap60mail.bcs_key %>
</p>

<p>
  <b>Id:</b>
  <%= @cap60mail.id %>
</p>

<p>
  <b>Name:</b>
  <%= @cap60mail.name %>
</p>

<p>
  <b>Birth date:</b>
  <%= @cap60mail.birth_date %>
</p>

<p>
  <b>Primary caregiver:</b>
  <%= @cap60mail.primary_caregiver %>
</p>

<p>
  <b>Home phone:</b>
  <%= @cap60mail.home_phone %>
</p>

<p>
  <b>Address:</b>
  <%= @cap60mail.address %>
</p>

<p>
  <b>City:</b>
  <%= @cap60mail.city %>
</p>

<p>
  <b>State:</b>
  <%= @cap60mail.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @cap60mail.zipcode %>
</p>


<%= link_to 'Edit', edit_cap60mail_path(@cap60mail) %> |
<%= link_to 'Back', cap60mails_path %>
