<p id="notice"><%= notice %></p>

<p>
  <b>Bcs key:</b>
  <%= @democap60.bcs_key %>
</p>

<p>
  <b>Id:</b>
  <%= @democap60.id %>
</p>

<p>
  <b>Name:</b>
  <%= @democap60.name %>
</p>

<p>
  <b>Birth date:</b>
  <%= @democap60.birth_date %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= @democap60.ethnicity %>
</p>

<p>
  <b>Race:</b>
  <%= @democap60.race %>
</p>

<p>
  <b>Num in family:</b>
  <%= @democap60.num_in_family %>
</p>

<p>
  <b>Yearly income:</b>
  <%= @democap60.yearly_income %>
</p>

<p>
  <b>Epc points:</b>
  <%= @democap60.epc_points %>
</p>

<p>
  <b>Amount under over poverty:</b>
  <%= @democap60.amount_under_over_poverty %>
</p>

<p>
  <b>Percent under over poverty:</b>
  <%= @democap60.percent_under_over_poverty %>
</p>


<%= link_to 'Edit', edit_democap60_path(@democap60) %> |
<%= link_to 'Back', democap60s_path %>
