<p id="notice"><%= notice %></p>

<p>
  <b>Bcs key:</b>
  <%= @dycd.bcs_key %>
</p>

<p>
  <b>Grade level:</b>
  <%= @dycd.grade_level %>
</p>

<p>
  <b>Program period:</b>
  <%= @dycd.program_period %>
</p>

<p>
  <b>Funded:</b>
  <%= @dycd.funded %>
</p>

<p>
  <b>Enrollment date:</b>
  <%= @dycd.enrollment_date %>
</p>

<p>
  <b>Last name:</b>
  <%= @dycd.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @dycd.first_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @dycd.gender %>
</p>

<p>
  <b>Birth date:</b>
  <%= @dycd.birth_date %>
</p>

<p>
  <b>Address:</b>
  <%= @dycd.address %>
</p>

<p>
  <b>Apartment:</b>
  <%= @dycd.apartment %>
</p>

<p>
  <b>Borough:</b>
  <%= @dycd.borough %>
</p>

<p>
  <b>Zip code:</b>
  <%= @dycd.zip_code %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= @dycd.ethnicity %>
</p>

<p>
  <b>Grade:</b>
  <%= @dycd.grade %>
</p>

<p>
  <b>School attending:</b>
  <%= @dycd.school_attending %>
</p>

<p>
  <b>Primary language:</b>
  <%= @dycd.primary_language %>
</p>

<p>
  <b>Elementary:</b>
  <%= @dycd.elementary %>
</p>

<p>
  <b>School year:</b>
  <%= @dycd.school_year %>
</p>


<%= link_to 'Edit', edit_dycd_path(@dycd) %> |
<%= link_to 'Back', dycds_path %>
